*.pdb
*.cache
*.suo
*.exe
*.cache
*.cache
peng04/bin/Debug/peng04.exe.config
peng04/bin/Debug/Newtonsoft.Json.xml
peng04/obj/Debug/peng04.csproj.FileListAbsolute.txt
peng04/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
peng04/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
peng04/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
peng04/bin/Debug/Newtonsoft.Json.dll