*.pdb
*.cache
webis.naiveBayes/bin/Debug/webis.naiveBayes.vshost.exe
*.suo
webis.naiveBayes/bin/Debug/webis.naiveBayes.exe
*.exe
*.cache
webis.naiveBayes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache